/*-- Globals --*/
body,html {height:100%;}
ul {margin:0; padding:0; list-style-type:none;}
body {font-size:12px; background:#f5f4f2;}
a {  -webkit-transition:.15s; -o-transition: .15s;  transition: .15s;}
.tran{-webkit-transition: all .5s ease-in-out 0s; -o-transition: all .5s ease-in-out 0s; -moz-transition: all .5s ease-in-out 0s; transition: all .5s ease-in-out 0s;}
.w640{max-width:640px; margin:0 auto; width:100%;}

/*-- header --*/
.header {text-align:center;padding-top:10px;}
.logo {text-align:center;}
.logo img{max-width:486px;}

/*-- meeting-page --*/
.meeting-details-hd {font-weight:normal;}

